In [40]:
import yfinance as yf
import pandas as pd
import numpy as np

In [41]:
df = pd.read_excel("data/tickerlistall.xlsx")
tlist = df.loc[(df.Piyasa == "Yıldız Pazar") | (df.Piyasa == "Ana Pazar")].Symbols.values
tlist = np.append(tlist, "XU100")
tlist = np.append(tlist, "XU030")

In [42]:
def name_fix(stk): # Arrange this name function for yourself, this is for BIST only
    if stk.startswith("."):
        stk = stk.replace(".","")
        stk = stk + ".IS"
    else:
        stk = stk + ".IS"
    
    return stk

In [ ]:
alldatas = []
for stk in tlist:
    print(stk)
    data = yf.download(name_fix(stk), start = "2016-01-01", interval = "1d")
    data["symbol"] = stk
    alldatas.append(data)

In [51]:
df = pd.concat(alldatas)
df.columns = ['open', 'high', 'low', 'close', 'adj_close', 'volume', 'symbol']
df.index.name = "date"
df.to_csv("data/historicaldataAll.csv")

,open,high,low,close,adj_close,volume,symbol
date,,,,,,,
2023-06-15,27.500000,27.500000,27.500000,27.500000,27.500000,262214.0,A1CAP
2023-06-16,30.240000,30.240000,30.240000,30.240000,30.240000,1169499.0,A1CAP
2023-06-20,31.000000,31.100000,29.940001,29.940001,29.940001,8064437.0,A1CAP
2023-06-21,26.959999,26.959999,26.959999,26.959999,26.959999,2147415.0,A1CAP
2023-06-22,25.620001,27.620001,25.500000,25.940001,25.940001,71898180.0,A1CAP
...,...,...,...,...,...,...,...
2023-09-18,8364.200195,8377.799805,8097.200195,8104.600098,8104.600098,1864000.0,XU030
2023-09-19,8123.600098,8233.799805,8062.100098,8215.900391,8215.900391,1988200.0,XU030
2023-09-20,8273.299805,8332.200195,8133.500000,8153.299805,8153.299805,2146900.0,XU030
2023-09-21,8132.899902,8430.000000,8087.600098,8430.000000,8430.000000,2547100.0,XU030
2023-09-22,8450.860352,8517.379883,8388.250000,8444.179688,8444.179688,0.0,XU030